/* Pseudoelemento alamcena variable css custom property */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Krub', sans-serif; /* aplica a todos los elementos */
}

.titulo {
    text-align: center;
    font-size: 3.8rem;   
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;/* Toma 1200px como max y solamente si hay ese espacio disponible */
    margin: 0 auto;

}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal{    
    display: flex; /* Habilita flex, de izq a der */
    flex-direction: column; /* Indicar orientación */
}

/* @media (min-width: 480px) Telefono */
/* @media (min-width: 768px) Tablet */
/* @media (min-width: 1140px) Laptop */
/* @media (min-width: 1400px)  */
/* Tablet */
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row; /* cambia de sentido la orientacion */
        justify-content: space-between; /* Centrar horizontalmente */

    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;/* Fuente 700 */
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}   

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /* No repite la imagen */
    background-size: cover;
}
